:root {
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


    --cornflower-blue: #6495ED;  

    --pure-white: #fff;
    --pure-black: #000;

    --grey-shade: #36454F;
  
    --color-dark: #00003c;
    --color-lighter: #00125b;
    --color-light:#70e3fa;
    
    --blue-1-opaque: rgba(0, 186, 183, 0.35);
    --burg-600-opaque: rgba(0, 145, 255, 0.952);
    --blue-2-opaque: rgba(51, 146, 201, 0.991);
  
    --white-opaque: hsla(0, 0%, 100%, 0.25);
  
    --border-radius-lg: 8px;
    --border-radius: 6px;
    --border-radius-sm: 4px;

    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-md: 18px;
    --text-lg: 20px;
    --text-l: 22px;
    --text-2: 24px;
    --text-3: 28px;
    --text-4: 32px;
    --text-5: 36px;
    --text-6: 48px;
    --text-7: 64px;
    --text-8: 88px;  

    --font-style: 'Poppins', sans-serif;
  
    --box-shadow-blue: 0 8px 20px 2px hsla(205, 100%, 82%, 0.3);
    --box-shadow-pastel-blue-other: 0 2px 6px hsla(240, 100%, 62%, 0.772);
}  